<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="地铁 南京地铁 车站实时 地铁时刻表 下一班车" name="keywords">
    <meta content="35000ft" name="author">

    <title>南京地铁 - 下一班车 | Next Train | 下一班車</title>
    <script src="./js/vue.js"></script>
    <script src="./js/moment.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-12-M/twitter-bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-12-M/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.css"
          integrity="sha256-gEYuPiCt4z3aRsQm0F4X5YBtK8t/Ny7v+Q9GwjLuJS0=" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="app">
    <header>
        <div class="container jumbotron">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h2>下一班车 | Next Train</h2>
                    <div class="search-wrapper" role="search">
                        <div class="form-group">
                            <input @focus="showSearchHint(inputString)"
                                   @keyup.enter="handleSearch"
                                   autocomplete="off"
                                   class="form-control search clearable"
                                   placeholder="车站名 / XJK / 1号线"
                                   v-model="inputString">
                            <span class="tool-bar-wrapper"></span>
                            <i @click="handleSearch" class="fa fa-search"></i>
                            <div class="search-hint-wrapper" v-cloak v-show="searchHint.length>0">
                                <ul>
                                    <li :key="hint.id" @click="changeStation(hint)" v-for="hint in searchHint">
                                        <span class="search-hint-left">{{hint.name}} {{hint.foreignName}}</span>
                                        <span class="search-hint-right">
                                             <span :key="line.id" :style="{backgroundColor:  line.color ,
                                                color: '#ffffff'}"
                                                   class="line-wrapper"
                                                   v-for="line in hint.lines">
                                                    {{line.name}}
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="info-wrapper">
                        <a href="./js/station-names.js"
                           target="_blank">车站数据: 2022-12-28
                        </a>
                    </div>
                    <div class="info-wrapper">
                        <a href="./js/line-data.js"
                           target="_blank">线路数据: 2022-12-28
                        </a>
                    </div>
                    <div class="info-wrapper" v-cloak>
                        列车信息最后同步于:{{updateTimeString}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <!-- 模态框（Modal） -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade"
             id="addFavorStationModal"
             role="dialog"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" class="close" data-dismiss="modal" ref="closeFavourStationBtn"
                                type="button">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">收藏车站 - 设为指定时间段的默认车站</h4>
                    </div>
                    <div class="modal-body">
                        <span>开始时间：</span>
                        <input ref="addFavourStartTime" type="time">
                        <span>结束时间：</span>
                        <input ref="addFavourEndTime" type="time">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                        <button @click="addStarStation(station.id,$refs['addFavourStartTime'].value, $refs['addFavourEndTime'].value)"
                                class="btn btn-primary"
                                type="button">保存
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="tool-bar-wrapper">
                <span class="tool-item-wrapper">
                    <i class="fa fa-cog"></i>
                </span>
                <span class="tool-item-wrapper" data-target="#addFavorStationModal" data-toggle="modal"
                      v-show="!isStarStation">
                    <i class="fa fa-star-o"></i>
                </span>
                <span @click="delStarStation(station.id)" class="tool-item-wrapper"
                      v-show="isStarStation">
                    <i class="fa fa-star"></i>
                </span>
            </div>

            <div class="station-info-wrapper">
                <div class="station-wrapper" v-cloak>
                    <h2>{{station.name}}</h2>
                    <h4>{{station.foreignName}}</h4>
                </div>
                <div class="line-list-wrapper">
                <span :key="line.id" :style="{backgroundColor: line.id===selectedLine.id ? line.color : '#dcdcdc',
                                                color: line.id === selectedLine.id ? '#ffffff' : '#858585'}"
                      @click="selectedLine = line"
                      class="line-wrapper"
                      v-for="line in station.lines">
                    {{line.name}}
                </span>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2 table-responsive" v-cloak>
                <table class="table table-hover component train-info-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>目的地</th>
                        <th>状态</th>
                        <th>发车时间</th>
                        <th>车种</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-show="this.trainInfoList.length===0">
                        <td></td>
                        <td>暂无列车</td>
                        <td>No Trains</td>
                        <td>--</td>
                        <td>{{info}}</td>
                    </tr>
                    <tr v-for="trainInfo in trainInfoList.slice(0,6)">
                        <td></td>
                        <td>{{trainInfo.terminal}}</td>
                        <td>{{trainInfo.status}}</td>
                        <td>{{trainInfo.terminal === station.name ? '--' : trainInfo.depShowTime}}</td>
                        <td>{{trainInfo.trainType}}</td>
                    </tr>
                    <tr v-show="this.trainInfoList.length>0">
                        <td colspan="5">
                            <a :href=`station-schedule.html#${station.id}/${selectedLine.code}` class="more-train"
                               target="_blank">更多列车？请查看时刻表</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</div>
</body>
<script src="./js/axios-0.18.0.js"></script>
<script charset="utf-8" src="./js/line-data.js" type="text/javascript"></script>
<script charset="utf-8" src="./js/station-names.js" type="text/javascript"></script>
<script src="./js/main.js" type="module"></script>


</html>