// app global css in SCSS form
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --q-primary: #36598f; /* 主色 */
    --q-secondary: #132860; /* 次色 */
    --q-accent: #9C27B0; /* 强调色 */
    --q-primary-d: #dcdcdc;
    --q-normal: #303030;
    --q-grey: #5a5a5a;
    --q-grey-2: #dcdcdc;
    --q-grey-3: #888888;
    --q-background: #ffffff;
    --q-background-grey: #dcdcdc;
    --q-background-grey-2: #f3f3f3;
    --q-arrived: #f3397a;
    --q-ontime: #009A44;
}

.q-header {
    position: absolute;
    top: 0;
    z-index: 10; /* 确保 header 在页面内容之上 */
}

::-webkit-scrollbar {
    display: none;
}

.q-notifications__list--bottom {
    bottom: 60px;
}

[data-theme='dark'] {
    --q-primary: var(--q-brand-darkPrimary); /* 黑暗模式下的 primary */
}

.highlight-text {
    color: var(--q-primary-d);
}

.auto-scroll-content {
    display: inline-block; /* 确保内容在一行显示 */
    animation: first-scroll 5s linear 1, loop-scroll 8s linear infinite;
}

/* 第一次滚动动画 */
@keyframes first-scroll {
    0% {
        transform: translateX(0); /* 从当前位置开始 */
    }
    20% {
        transform: translateX(0); /* 从当前位置开始 */
    }
    100% {
        transform: translateX(-100%); /* 移出容器左侧 */
    }
}

/* 循环滚动动画 */
@keyframes loop-scroll {
    0% {
        transform: translateX(100%); /* 从容器右侧开始 */
    }
    30% {
        transform: translateX(0%); /* 从容器右侧开始 */
    }
    60% {
        transform: translateX(0%); /* 从容器右侧开始 */
    }
    100% {
        transform: translateX(-100%); /* 移出容器左侧 */
    }
}

.auto-scroll-container {
    overflow: hidden;
    white-space: nowrap;
}

.show-text-in-2-line {
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@keyframes scroll-from-right-view-transition {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

.right-in-right-out-enter-active {
    animation: scroll-from-right-view-transition .5s;
}
