<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>车站时刻表 - 下一班车 | Next Train | 下一班車</title>

    <script src="../js/vue.js"></script>
    <script src="../js/dom-to-image.js"></script>
    <script src="../js/moment.js"></script>

    <link crossorigin="anonymous"
          href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-12-M/twitter-bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-12-M/font-awesome/5.10.2/css/all.min.css"
          integrity="sha256-zmfNZmXoNWBMemUOo1XUGFfc0ihGGLYdgtJS3KCr/l0=" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-12-M/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.css"
          integrity="sha256-gEYuPiCt4z3aRsQm0F4X5YBtK8t/Ny7v+Q9GwjLuJS0=" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <header>
        <div class="container jumbotron" style="margin-bottom: 0">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h2>下一班车 | Next Train</h2>
                    <div class="info-wrapper">
                        <a href="../js/station-names.js"
                           target="_blank">车站数据: 2022-12-28
                        </a>
                    </div>
                    <div class="info-wrapper">
                        <a href="../js/line-data.js"
                           target="_blank">线路数据: 2022-12-28
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="tool-bar-wrapper">
        <span class="switch-schedule-format-wrapper">
            <span :class="{'showing':showVertical}" @click="showVertical=true" class="vertical-icon">
            <i class="fa fa-bars"></i>
            </span>
            <span :class="{'showing':!showVertical}" @click="showVertical=false" class="horizontal-icon">
                <i class="fa fa-bars"></i>
            </span>
        </span>
        <span @click="saveAsImg" class="download-icon-wrapper">
            <i aria-hidden="true" class="fa fa-download"></i>
        </span>
    </div>

    <main class="container">
        <div class="row" ref="station-schedule-wrapper">
            <div class="schedule-info-wrapper">
                <h2 class="station-box" v-cloak>{{station.name}}</h2>
                <h4><b :style="{backgroundColor:line.color}" class="line-name-box" v-cloak>{{line.name}}</b> 列车时刻表
                </h4>
                <h6 class="update-time-box" v-cloak>日期: {{date.format('YYYY年M月D日 ddd')}}</h6>
                <h6 class="update-time-box" v-cloak>版本: {{version}}</h6>
            </div>


            <!-- display vertical -->
            <div class="vertical-wrapper" v-show="showVertical">
                <div class="vertical-item-wrapper" v-cloak v-for="hourData in verticalSchedule">
                    <div class="hour-box"><b>{{hourData.hour}}</b></div>
                    <span class="minutes-wrapper" v-for="minuteData in hourData.dataList">
                                                        <span class="minutes-box">{{minuteData.minute}}</span>
                                                        <span class="terminal-box">{{minuteData.terminal}}</span>
                                                    </span>
                </div>
            </div>

            <!-- display horizontal -->
            <div class="horizontal-wrapper" v-show="!showVertical">
                <div style="height: 20px;background-color: #efefef;"></div>
                <div class="horizontal-item-wrapper" v-for="terminalData in horizontalSchedule">
                    <div class="terminal-box">
                        开往: <b><i> {{terminalData.terminal}}</i></b>
                    </div>
                    <div class="hour-data-wrapper" v-for="hourData in terminalData.schedule">
                        <span class="hour-box">{{hourData.hour}}</span>
                        <div class="minutes-wrapper">
                            <span v-for="trainInfo in hourData.dataList">{{trainInfo.minute}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>
</div>
</body>
</html>
<script charset="utf-8" src="../js/line-data.js" type="text/javascript"></script>
<script charset="utf-8" src="../js/station-names.js" type="text/javascript"></script>
<script src="js/main.js" type="module"></script>
